/* DatePicker calendar style */

.ui-widget.ui-widget-content{
    border:none !important;
    padding: 1rem;
    min-width: fit-content;
    width: 100%;
    row-gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--main-grey);
    border-radius: 10px;
    color: #fff;
}

#ui-datepicker-div { 
    display: none; 
}

.ui-datepicker .ui-datepicker-header {
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: normal;
    text-transform: uppercase;
}

.ui-datepicker-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui-datepicker-calendar tbody, 
.ui-datepicker-calendar thead{
    text-align: center;
    width: 100%;

}

.ui-datepicker-calendar thead{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-datepicker-calendar tbody tr, 
.ui-datepicker-calendar thead tr{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: space-around;
    gap: .6rem;
    padding-bottom: 1rem;
}

.ui-datepicker-next,
.ui-datepicker-prev{
    background-color: #ff8500 !important;
    top: 0 !important;
    border-radius: 3rem;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
    border: none;
    max-height: 40px;
    max-width: 40px;
    transition: left 130ms ease-in-out;
}

.ui-datepicker-next:hover,
.ui-datepicker-prev:hover{
    border: none;
}

.ui-datepicker-next span {
    background-image: url("../../resources/images/chevron_right_white_24dp.svg") !important;
    background-position: center !important;
}

.ui-datepicker-prev span {
    background-image: url("../../resources/images/chevron_left_black_24dp.svg") !important;
    background-position:center!important;
}

.ui-datepicker-calendar thead tr th{
    font-weight: normal;
}

.ui-datepicker-calendar tbody tr td{
    font-weight: normal;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 2rem;
    max-width: 2rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
    transition: background-color .4s;
}

.ui-datepicker-calendar tbody tr td:hover{
    background-color: #484848b8;
    outline: 1px solid #777;
    cursor: pointer;
    border-radius: .3rem;
}

.ui-widget-content .ui-state-default{
    padding: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

.ui-datepicker-current-day {
    background-color: #ff8500 !important;
    border-radius: .3rem;
}

.ui-state-highlight{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #ff8500 !important;
}