*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body{
    background-color: #021f54;
    color: #ffffff;
}

input::placeholder{
    color: rgb(193, 193, 193) !important;
}
/* Home Section styling */
.flex_col {
    flex-direction: column;
}

.home_section{
    row-gap: 1rem;
}

.home_section img{
    max-width: 120px;
}

.welcome_text{
    transform: translateX(100vw); 
    transition: opacity 1s ease-in-out 1s,transform 2s ease-in-out .5s;
    opacity: 0;
}

.logo {
    row-gap: 1rem;
}

.logo h2{
    color:#636363;
    font-weight: bold;
}

.logo h2 span{
    color: #44a2f8;
}

.home_btn i {
    font-weight: bolder;
    padding-right: .5rem;
}
.home_btn {
    width: 100%;
}


.home_btn_orange {
    background-color: #ff8500;

}
.home_btn_blue {
    background-color: #1c61ab;
    
}





/* DatePicker calendar style */
.ui-widget.ui-widget-content{
    padding: 1rem;
    width: fit-content;
    margin: 0 auto;
    row-gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #021f543d;
    box-shadow: 0 8px 32px 0 #28282857;
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 9px ) ;
    border-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.622);
    border-left: 1px solid rgba(255, 255, 255, 0.844);
    outline: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
}

#ui-datepicker-div { 
    display: none; 
}

.ui-datepicker .ui-datepicker-header {
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: normal;
    text-transform: uppercase;
}

.ui-datepicker-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui-datepicker-calendar tbody, 
.ui-datepicker-calendar thead{
    text-align: center;
    width: 100%;

}

.ui-datepicker-calendar thead{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-datepicker-calendar tbody tr, 
.ui-datepicker-calendar thead tr{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: space-around;
    gap: .6rem;
    padding-bottom: 1rem;
}

.ui-datepicker-next,
.ui-datepicker-prev{
    background-color: #ff8500 !important;
    top: 0 !important;
    border-radius: 3rem;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
    border: none;
    max-height: 40px;
    max-width: 40px;
    transition: left 130ms ease-in-out;
}

.ui-datepicker-next:hover,
.ui-datepicker-prev:hover{
    border: none;
}

.ui-datepicker-next span {
    background-image: url("../../resources/images/chevron_right_white_24dp.svg") !important;
    background-position: center !important;
}

.ui-datepicker-prev span {
    background-image: url("../../resources/images/chevron_left_black_24dp.svg") !important;
    background-position:center!important;
}

.ui-datepicker-calendar thead tr th{
    font-weight: normal;
}

.ui-datepicker-calendar tbody tr td{
    font-weight: normal;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 2rem;
    max-width: 2rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
    transition: background-color .4s;
}

.ui-datepicker-calendar tbody tr td:hover{
    background-color: #484848b8;
    outline: 1px solid #777;
    cursor: pointer;
    border-radius: .3rem;
}

.ui-widget-content .ui-state-default{
    padding: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

.ui-datepicker-current-day {
    background-color: #ff8500 !important;
    border-radius: .3rem;
}

.ui-state-highlight{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #ff8500 !important;
}

/* Main Styling */
.logo{
    text-align: center;
    padding: 3rem 0;
    font-weight: bold;
    color: #8cb4de;
}

/* Form Styling */
.form-label{
    color: #91e4fb;
}

.required_signed{
    color: red;
}

.form-control{
    background-color: #154a83;
    border:none;
    color:#fff !important;
}

.form-control:focus{
    background-color: #2262a7;
}

form p{
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: #73a9e3;
}

/* Radio */
.input_todo[type="radio"]{
    background-color: #3d8af7;
}

.input_review[type="radio"]{
    background-color: #fefb64;
}

.input_review[type="radio"]:checked{
    background: #444444 !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input_review[type="radio"]:checked::after{
    background: #fff647 !important;
    content: '';
    border-radius: 2em;
    width: 60%;
    height: 60%;
    position: absolute;
}

.input_inprogress[type="radio"]{
    background-color: #7e2199;
}

.input_done[type="radio"]{
    background-color: #92d36e;
}

.input_done[type="radio"]:checked{
    background: #444444 !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input_done[type="radio"]:checked::after{
    background: #89f151 !important;
    content: '';
    border-radius: 2em;
    width: 60%;
    height: 60%;
    position: absolute;
}

label > input[type="radio"]:checked + *::before {
    background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent)!important;
    border-color: teal;
}

label > input[type="radio"]:checked + * {
    color: teal !important;
}

/* Button */
.btn_group{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: .8rem;
    row-gap: .8rem;
}

.orange_fill_btn{
    font-size: 1.5rem !important;
    background-color:#ff8500 !important ;
    border: none;
    color:#003748;
    font-weight: bold;
    text-transform: uppercase;
    border-radius:10rem;
}

.orange_outline_btn{
    font-size: 1.5rem !important;
    background-color: transparent;
    border: 2px solid #ff8500;
    text-transform: uppercase;
    border-radius: 10rem;
    color: #ff8500;
    font-weight: bold;
}

/* Task card styling */
.task_wrapper{
    padding: 6rem 1rem;
    display: flex;
    column-gap: 3rem;
    align-items: center;
    justify-content: center;
    row-gap: 5rem;
    background-color: white;
    margin-top: 11rem;
}

.task_title{
    font-weight: bold;
    color: rgb(145, 143, 143);
    font-size: 2.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.task_card{
    background-color: #fffcd6;
    color: #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    border-radius: .7rem;
    padding: 1rem;
    box-shadow: 0px 3px .4rem  rgba(0, 0, 0, 0.375);
}

.card_date.due_soon{
    display: inline-block;
    background-color: #ff3823;
    border-radius: .7rem;
    color: #fff;
}

.card_date{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    box-shadow: 3px 3px .4rem  rgba(0, 0, 0, 0.479);
    min-width: 5.5rem;
    min-height: 5.5rem;
    font-weight: bold;
    float: left;
}

.task_card h2{
    font-weight: lighter;
    z-index: 300;
    text-align: right;
}

.card_owner{
    font-weight: bold;
    color: #0844a4;
}

.task_card h3{
    padding-top: 1rem;
    font-weight: lighter
}

.card_status{
    font-weight: normal;
}

.card_buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    bottom:-1.7rem;
    right: -1.5rem;
    column-gap: .8rem;
}

.card_btn{
    border-radius: 50%;
    box-shadow: 3px 3px .4rem  rgba(0, 0, 0, 0.479);
}

.card_date.in_progress{
    display: inline-block;
    background-color: #d757f6;
    border-radius: .7rem;
    color: #fff;
}

.card_date.to_do{
    display: inline-block;
    background-color:#3d8af7;
    border-radius: .7rem;
    color: #fff;
}

.card_date.review{
    display: inline-block;
    background-color:#fefb64;
    border-radius: .7rem;
    color: rgb(14, 13, 13);
}

.card_date.done{
    display: inline-block;
    background-color:#92d36e;
    border-radius: .7rem;
    color: white;
}


.card_date{
    text-align: center;
    padding: .2rem;
    position:absolute;
    top:-25%;
    box-shadow: 3px 3px .4rem  rgba(0, 0, 0, 0.479);
    width: 5.5rem;
    height: 5.5rem;
    overflow: hidden;
    font-weight: bold;
}

/* media query */
@media screen and (min-width: 768px){
    .card_date{
        text-align: center;
        margin: 0 auto;
        padding: .2rem;
        position: relative;
    }
    .task_card h2{
        display: inline-block;
        position: relative;
        margin-top: 2rem;
        left: 0;
        font-weight: lighter;
    }
}

@media screen and (min-width: 1200px){
    .big_screens{
        max-height: 100vh;
        align-items: start;
        overflow: scroll;
    }

    .task_wrapper{
        row-gap: 8rem;
        background-color: white;
        justify-content: space-between;
    }
    .card_date{
        text-align: center;
        padding: .2rem;
        position:absolute;
        top:-25%;
        box-shadow: 3px 3px .4rem  rgba(0, 0, 0, 0.479);
        width: 5.5rem;
        height: 5.5rem;
        overflow: hidden;
        font-weight: bold;
    }
}
@media screen and (max-width: 768px){
    .task_wrapper {
      margin-top: 2rem;
    }
  }