*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #021f54;
    color: #ffffff;
}

/* DatePicker calendar style */
.ui-widget.ui-widget-content{
    padding: 1rem;
    width: auto;
    max-width: fit-content;
    margin: 0 auto;
    row-gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #021f543d;
    box-shadow: 0 8px 32px 0 #28282857;
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 9px ) ;
    border-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.622);
    border-left: 1px solid rgba(255, 255, 255, 0.844);
    outline: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
}

.ui-datepicker .ui-datepicker-header {
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: normal;
    text-transform: uppercase;
}
.ui-datepicker-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ui-datepicker-calendar tbody, 
.ui-datepicker-calendar thead{
    text-align: center;
}
.ui-datepicker-calendar thead{
    height: 5rem;
    display: flex;
}
.ui-datepicker-calendar tbody tr, 
.ui-datepicker-calendar thead tr{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.ui-datepicker-next,
.ui-datepicker-prev{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background-color: #ff3823 !important;
    border-radius: 3rem;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
}
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(234, 177, 177);
}
.ui-datepicker-next span {
    background-image: url("../../resources/images/chevron_right_white_24dp.svg") !important;
    background-position: center !important;
}

.ui-datepicker-prev span {
    background-image: url("../../resources/images/chevron_left_black_24dp.svg") !important;
    background-position:center!important;
}

.ui-datepicker-calendar thead tr th{
    font-weight: normal;
}
.ui-datepicker-calendar tbody tr td{
    font-weight: normal;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 2rem;
    max-width: 2rem;
    padding: 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
    transition: background-color .4s;
}
.ui-datepicker-calendar tbody tr td:hover{
    background-color: #484848b8;
    outline: 1px solid #777;
    cursor: pointer;
    border-radius: .3rem;
}
.ui-widget-content .ui-state-default{
    padding: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}
.ui-datepicker-current-day {
    background-color: #ff3823 !important;
    border-radius: .3rem;
}
.ui-state-highlight{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #ff3923ec !important;
    color: #fff;
}
/* Main Styling */
.logo{
    text-align: center;
    padding: 3rem 0;
    font-weight: bold;
    color: #1c61ab;
}
/* Form Styling */
.form-label{
    color: #91e4fb;
}
.form-control{
    background-color: #154a83;
    border:none;
    color:#fff !important;
}
.form-control:focus{
    background-color: #2262a7;
}
form p{
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: #1c61ab;
}
/* Radio */
.input_todo[type="radio"]{
    background-color: #3d8af7;
}
.input_review[type="radio"]{
    background-color: #fefb64;
}
.input_inprogress[type="radio"]{
    background-color: #7e2199;
}
.input_done[type="radio"]{
    background-color: #92d36e;
}
/* Button */
.btn_group{
    /* font-size: 2rem !important; */
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: .8rem;
    row-gap: .8rem;
}
.orange_fill_btn{
    font-size: 1.5rem !important;
    background-color:#ff8500 !important ;
    color:#003748;
    font-weight: bold;
    text-transform: uppercase;
    border-radius:10rem;
}
.orange_outline_btn{
    font-size: 1.5rem !important;
    background-color: transparent;
    border: 2px solid #ff8500;
    text-transform: uppercase;
    border-radius: 10rem;
    color: #ff8500;
    font-weight: bold;
}

/* Task card styling */
.task_wrapper{
    padding: 6rem 1rem;
    margin: 7rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5rem;
    background-color: white;
}
.task_title{
    font-weight: bold;
    color: rgb(145, 143, 143);
    font-size: 2.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.task_card{
    background-color: #fffcd6;
    color: #000;
    position: relative;
    max-width: 90%;
    border-radius: .7rem;
    padding: 1rem;
    box-shadow: 3px 3px .4rem  rgba(0, 0, 0, 0.479);
}
.card_date.due_soon{
    display: inline-block;
    background-color: #ff3823;
    border-radius: .7rem;
    color: #fff;
}
.card_date{
    text-align: center;
    padding: .2rem;
    position:absolute;
    top:-25%;
    box-shadow: 3px 3px .4rem  rgba(0, 0, 0, 0.479);
    width: 5.5rem;
    height: 5.5rem;
    overflow: hidden;
    font-weight: bold;
    

}
.task_card h2{
    display: inline-block;
    position: relative;
    left: 6rem;
    font-weight: lighter;
}
.card_owner{
    font-weight: bold;
    color: #0844a4;
}
.task_card h3{
    padding-top: 1rem;
    font-weight: lighter
}
.card_status{
    font-weight: normal;
}
.card_buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    bottom:-1.7rem;
    right: -1.5rem;
    column-gap: .8rem;
}
.card_btn{
    border-radius: 50%;
    box-shadow: 3px 3px .4rem  rgba(0, 0, 0, 0.479);
}
.card_date.in_progress{
    display: inline-block;
    background-color: #d757f6;
    border-radius: .7rem;
    color: #fff;
}
.card_date.to_do{
    display: inline-block;
    background-color:#3d8af7;
    border-radius: .7rem;
    color: #fff;
}
.card_date.review{
    display: inline-block;
    background-color:#fefb64;
    border-radius: .7rem;
    color: rgb(14, 13, 13);
}
.card_date.done{
    display: inline-block;
    background-color:#92d36e;
    border-radius: .7rem;
    color: white;
}
