*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body{
    background-color: #232323;
    color: #ffffff;
}

:root{
    --orange-color: #ff8500;
    --main-grey: #4444446d;
}

input::placeholder{
    color: rgb(193, 193, 193) !important;
}

.intro_screen{
    display: none;
}

.text-orange{
    color: var(--orange-color);
}

/* Home Section styling */
.flex_col {
    flex-direction: column;
}

.home_section{
    row-gap: 1rem;
    overflow: hidden;
    background-image: url('/resources/images/BG\ STRATEGY.png');
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}

.home_section img{
    max-width: 120px;
}

.welcome_text{
    /* transform: translateX(100vw); */
    transition: opacity 1s ease-in-out 1s, transform 2s ease-in-out .5s;
    opacity: 0;
    position: absolute;
    top: 10%;
}

.logo {
    row-gap: 1rem;
    margin-bottom: 5rem;
}

.logo h2{
    color:#b8b8b8;
    font-weight: bold;
    text-transform: uppercase;
}

.logo h2 span{
    color: var(--orange-color);
}

.home_btn i {
    font-weight: bolder;
    padding-right: .5rem;
}

.home_btn {
    width: 100%;
}


.home_btn_orange {
    background-color: #ff8500;

}
.home_btn_blue {
    background-color: #1c61ab;
}


/* Navigation */
.current{
    color: var(--orange-color) !important;
    border-color: var(--orange-color) !important;
    background-color: #4e4e4e86;
}
.navigation{
    background-color: #1c1c1c;
}

/* DatePicker calendar style */

.ui-widget.ui-widget-content{
    border:none !important;
    padding: 1rem;
    min-width: fit-content;
    width: 100%;
    row-gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--main-grey);
    border-radius: 10px;
    color: #fff;
}

#ui-datepicker-div { 
    display: none; 
}

.ui-datepicker .ui-datepicker-header {
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: normal;
    text-transform: uppercase;
}

.ui-datepicker-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui-datepicker-calendar tbody, 
.ui-datepicker-calendar thead{
    text-align: center;
    width: 100%;

}

.ui-datepicker-calendar thead{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-datepicker-calendar tbody tr, 
.ui-datepicker-calendar thead tr{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: space-around;
    gap: .6rem;
    padding-bottom: 1rem;
}

.ui-datepicker-next,
.ui-datepicker-prev{
    background-color: #ff8500 !important;
    top: 0 !important;
    border-radius: 3rem;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
    border: none;
    max-height: 40px;
    max-width: 40px;
    transition: left 130ms ease-in-out;
}

.ui-datepicker-next:hover,
.ui-datepicker-prev:hover{
    border: none;
}

.ui-datepicker-next span {
    background-image: url("../../resources/images/chevron_right_white_24dp.svg") !important;
    background-position: center !important;
}

.ui-datepicker-prev span {
    background-image: url("../../resources/images/chevron_left_black_24dp.svg") !important;
    background-position:center!important;
}

.ui-datepicker-calendar thead tr th{
    font-weight: normal;
}

.ui-datepicker-calendar tbody tr td{
    font-weight: normal;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 2rem;
    max-width: 2rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
    transition: background-color .4s;
}

.ui-datepicker-calendar tbody tr td:hover{
    background-color: #484848b8;
    outline: 1px solid #777;
    cursor: pointer;
    border-radius: .3rem;
}

.ui-widget-content .ui-state-default{
    padding: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

.ui-datepicker-current-day {
    background-color: #ff8500 !important;
    border-radius: .3rem;
}

.ui-state-highlight{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #ff8500 !important;
}

/* Main Styling */
.logo{
    text-align: center;
    font-weight: bold;
    color: #8cb4de;
}

/* Form Styling */
#form_section{
    position: relative;
}

.form-label{
    color: var(--orange-color);
}

.required_signed{
    color: red;
}


.form-control{
    background-color: var(--main-grey);
    border:none;
    color:#fff !important;
}

.form-control:focus, .form-control::selection{
    background-color: var(--main-grey);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 35px rgb(90, 90, 90) inset !important;
    -webkit-text-fill-color:white
}



form p{
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: #73a9e3;
}

/* Radio */
.input_todo[type="radio"]{
    background-color: #3d8af7;
}

.input_review[type="radio"]{
    background-color: #fefb64;
}

.input_review[type="radio"]:checked{
    background: #444444 !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input_review[type="radio"]:checked::after{
    background: #fff647 !important;
    content: '';
    border-radius: 2em;
    width: 60%;
    height: 60%;
    position: absolute;
}

.input_inprogress[type="radio"]{
    background-color: #7e2199;
}

.input_done[type="radio"]{
    background-color: #92d36e;
}

.input_done[type="radio"]:checked{
    background: #444444 !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input_done[type="radio"]:checked::after{
    background: #89f151 !important;
    content: '';
    border-radius: 2em;
    width: 60%;
    height: 60%;
    position: absolute;
}

label > input[type="radio"]:checked + *::before {
    background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent)!important;
    border-color: teal;
}

label > input[type="radio"]:checked + * {
    color: teal !important;
}



/* Button */
.btn_group{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: .8rem;
    row-gap: .8rem;
}

.orange_fill_btn{
    font-size: 1.5rem !important;
    background-color:#ff8500 !important ;
    border: none;
    color:#003748;
    font-weight: bold;
    text-transform: uppercase;
    border-radius:10rem;
}

.orange_outline_btn{
    font-size: 1.5rem !important;
    background-color: transparent;
    border: 2px solid #ff8500;
    text-transform: uppercase;
    border-radius: 10rem;
    color: #ff8500;
    font-weight: bold;
}

/* Task card styling */
.task_box{
    background-color: var(--main-grey);
    overflow-y: scroll;
    border-radius: 2rem;
    padding: 2rem;
    height: 40%;
}

.priority_header{
    height: fit-content;
}

.close .details{
    transform: translateY(-100%);
    display: none;
}

.open .details{
    transform: translateY(0);
    visibility: visible;
    transition: height .3s ease-in-out;
    transition: transform 1s ease-in-out, display  3s ease-out 1s;
}

/* notification */
.notification{
    width:100vw;
    height:100vh;
    position: absolute;
    top: 0;
    display: flex;
    place-content: center;
    place-items: center;
}
.checked_circle{
    text-shadow: 3px 3px 5px #000;
    
}
.show{
    display: block;
}

.hide{
    display: none;
    transition: display .4s ease-in-out;
}

/* media query */
@media screen and (max-width: 440px) {
    .intro_screen{
        display: block;
    }
}

@media screen and (min-width: 1200px){
    .big_screens{
        overflow: scroll;
        scrollbar-width: 0;
        scrollbar-base-color: transparent;
    }
    .logo img{
        max-width: 250px;
    }
    .logo h2{
        font-size: 3rem;
        text-shadow: 3px 3px .5rem rgba(68, 68, 68, 0.382);
    }
    .btn_group{
        flex-direction: row;
    }
    .home_btn{
        font-size: 2rem;
        padding: .5rem 2rem;
    }
}